<section>
    <div class="headline-skills-box">
        <div class="headline-skills">
            <div class="subheadline-skills">{{ myStack[currentLanguage] }}</div>
            @if(currentLanguage == 0){
                <div class="big-headline-skills">
                    @for (letter of ['S', 'k', 'i', 'l', 'l', 's']; track letter; let index = $index) {
                        <div (mouseenter)="changeColor(index)" (mouseleave)="backToDefaultColor(index)" [ngClass]="{'change-color': headlineDefaultColor[index] == false}">{{ letter }}</div>
                    }
                </div>
                <div class="skills-line skills-line-german"></div>
            }
            @else{
                <div class="big-headline-skills">
                    @for (letter of ['S', 'k', 'i', 'l', 'l', '', 's', 'e', 't']; track letter; let index = $index) {
                        @if (letter == '') {
                            <div>&nbsp;</div>
                        }
                        @else {
                            <div (mouseenter)="changeColor(index)" (mouseleave)="backToDefaultColor(index)" [ngClass]="{'change-color': headlineDefaultColor[index] == false}">{{ letter }}</div>
                        }
                    }
                </div>
                <div class="skills-line skills-line-english"></div>
            }
        </div>
    </div>
    <div class="skills-box">
        <div class="paper-skills" (mouseenter)="animateSkill()" (mouseleave)="doNotAnimateSkill()">
            {{ skillsText[currentLanguage] }}
        </div>
        <div class="all-skills-box">
            
            <!-- these are the skill icons -->
            @for(skill of allSkills; track skill; let index = $index){
                <div class="skill-icon">
                    <img src="./assets/icons/{{skill}}.png" alt="" [ngClass]="{'animate-skill': oneRandomSkillIsAnimated == true && randomSkill == index}">
                    <p>{{skill}}</p>
                </div>
            }
        </div>
    </div>
    <div class="pull-image-box">
        <div class="pull-image" (click)="pullSticker()">
            <img src="./assets/stickers/pull/{{ stickerMode }}.png" alt="">

            <!-- here the pullable sticker is configured -->
            @if(stickerMode == 0){
                <div class="pull-text">
                    <img src="./assets/icons/arrow-sticker.png" alt="">
                    {{ pullMessage[currentLanguage] }}
                </div>
            }
            @if(stickerMode == 2){
                <div class="pull-also-interested">
                    {{ alsoInterested[currentLanguage] }}
                    <div class="pull-box">
                        <div class="also-interested-icon">
                            <img src="./assets/icons/react.png" alt="">
                            react
                        </div>
                        <div class="also-interested-icon">
                            <img src="./assets/icons/vue.png" alt="">
                            vue js
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>